<div class="text-header">
  <h1>
    <span class="title bold color-primary">GuruWalk</span>
    <span>Community of free</span>
    <br id="title-break-line">
    <span>walking tour guides</span>
  </h1>
</div>
